code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import "./css/PlatformScreen.css";
@import "./css/MyPage.css";
@import "./css/ProfileSetting.css";
@font-face {
  font-family: 'oswald-light';
  src: local('oswald-light'), url(./fonts/Oswald-Light.ttf) format('truetype');
}
* {
  font-family: "oswald-light";
}

html{
  font-size: 62.5%; /* default browser font size = 16px and 16 * 62.5 = 10 px = 1 rem */
  box-sizing: border-box; /*easiler to manage box and add padding / margin*/
  display: flex;
  justify-content: center;
  
}
body{
  position: absolute;
  height: 100vh;
  
  font-size: 1.6rem; /* 16px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* layouts */
.grid-container{
  display: grid;
  grid-template-areas: 
      'header'
      'main'
      'footer';
  grid-template-columns:1fr;
  grid-template-rows: 13rem 1fr 5rem; /*header body footer*/
  height: 100%
}
header{
  grid-area: 'header';
  position: relative;

}
main{
  grid-area: 'main';
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
}
.sidebar{
  grid-area: 'side';

}

/* Header */
.all{
  display: flex;
  align-items: center;
  justify-content: center;
}
img.hamburger{
  width: 100;
  margin-right: 3rem;
}

.topLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: row;
}

.loginButton{
  cursor:pointer;
}

.logoutButton{
  cursor:pointer;
}

.login a{
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 3rem;
  color: #00aeef;
}

.searchBar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 4rem;
  min-width: 1fr;
}

.searchInput{
  border-style: solid;
  border-width: 1px;
  border-color: #D2D2D2;
  border-radius: 5px 0px 0px 5px;
  min-width: 50rem
}

.searchInput::placeholder{
  padding: 5px;
  font-size: 1.3rem;
}
.searchInput:focus{
  outline-color: #00aeef;
}
/*searchbar magnifying glass button*/
.all button{
  border-style: 1px solid;
  border-color: #00aeef;
  background-color: transparent;
  border-radius: 5px;
}

.searchBar button{
  border-style: solid;
  border-color: #00aeef;
  background-color: #00aeef;
  border-radius: 0px 5px 5px 0px;
}

.headerItems{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3rem;
}

.mainButtons{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1.5rem;
}
.mainButtons button{
  background-color: #ffffff;
  border-width: 1px;
  border-color: #00Aeef;
  border-style: solid;
  border-radius: 5px;
  color: #00aeef;
  margin-right: 3rem;
  align-items: center;
  font-size: 2rem;
  padding: 1px 1.2rem;
  width: 13rem;
}
.tags {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}
.tags a{
  text-decoration: none;
  color: #00aeef;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.banner {
  border-style: solid;
  border-radius: 5px 5px 0px 0px;
  border-color: #d2d2d2;
  border-width: 1px;
  overflow: hidden;
}
.banner img{
  max-width: 100%;
  height: 25%;
  margin: 0px;
  margin: -70px 0px -70px 0px;
}
.postArea {
  display: flex;
  flex-direction: column;
}
.platformInfoArea img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 2rem;
  object-fit: cover;
  float: left;
}
.platformInfoArea{
  display: block;
  border-style: solid;
  border-color: #d2d2d2;
  border-width: 1px;
  padding: 2rem;
}

.platformInfoArea a{
  text-decoration: none;
  color: #000000;
  font-size: 4rem;
}
.platformInfo {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 1.2rem;
}

.platformTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}
.platformBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.platformBottom button{
  color: #00aeef;
  border-color: #00aeef;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  padding: 1px 1.2rem;
  margin-top: 1%;
}
/*Start of Timer Component*/
.timer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.timer p{
  font-size: 2rem;

}
.timer img{
  display: block;
  width: 2rem;

}
/*end of Timer Component*/

/*Question Component*/
.quizArea {
  border: 1px solid #d2d2d2;
}
.quizArea p{
  margin: 2rem;
  font-size: 2rem;
}

.quizHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.save{
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid #00aeef;
  border-radius: 5px;
  color: #00aeef;
}

.questionButtons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.questionButtons button{
  margin-bottom: 2rem
}

.save button{
  margin-right: 1rem
}

.questionButtons button:disabled{
  color: #929292;
  border-color: #929292;
}

.pointButtons img{
  width: 1.3rem;
  margin-right: 0.7rem;
}

.pointButtons{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
}

.pointButtons button{
  font-size: 1.5rem;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
  outline: 0;
  vertical-align: center;
  padding: 0.2rem 0.7rem 0.2rem 0.7rem;
}

.pointButtons button:disabled{
  color: #c3c3c3;
  border-color: #c3c3c3;
}

.questionArrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.questionArrow button{
  border: none;
  color: #000000;
  background: transparent;
}

.questionArrow button:disabled{
  border: none;
  color: #c3c3c3;
  background:transparent
}

.sectionTitle {
position: absolute;
width: 10rem;
height: 20rem;
display: flex;
flex-direction: column;
margin: 0;
font-size: 1.2rem;
line-height: 3.6rem;

color: #929292;
}

.platformListArea {
  position: absolute;
width: 110rem;
height: 800rem;
left: 15rem;
top: 69rem;
}

/*start of Statistics component*/

.result {
  text-align: center;
}

.result p{
  font-size: 1.6rem;
}

/*end of Statistics component*/


/*start of QuizScore page*/
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score button{
  color: #00aeef;
  border-style: solid;
  border-width: 1px;
  border-color: #00aeef;
  background: none;
  border-radius: 5px;
}

.questionsCorrect {
  display: flex;
  flex-direction: row;
}

/*end of QuizScore page*/

.homeItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

.line{
  width: 18rem;
  border-top: 2px solid #929292;
  margin-bottom: 2rem;
}

.latestQuiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trendingPlatform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;

}
div.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

}
.flex-item{
  padding: 5px;
  margin: 10px;
  margin-bottom: 40px;
  width: 345px;
  
  
}

/* add media query for growing and shrinking */
@media (max-width: 600px) {
  .flex-container {
    flex: 1 1 auto;
  }
}

.contact {
  border-bottom: 1px solid #e4e8eb
}

.helpTitle {
  border-bottom: 1px solid  #e4e8eb;
  font-family: Oswald;
  font-weight: 300;

}
.selected {
  border-bottom: 1px solid #00AEEF;
  color: #00AEEF;
  font-family: Oswald;
  font-weight: 300;
}

.panel .panel-collapse {
	 max-height: 0;
	 overflow: hidden;
	 transition: max-height 0.5s cubic-bezier(0.525, 0.66, 0.495, 1.4);
}
 .panel.is-expanded .panel-collapse {
	 max-height: 200px;
}
 
.description{
  color: blue;
}


.swiper-container {
  width: 400px;
}

.swiper-wrapper {
  padding-inline-start: 0
}

/* start of StoreScreen*/
.storePage{
  display: flex;
  flex-direction: column;
}

.storeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #929292;
  border-radius: 5px;
  border: none;
  padding: 1rem
}

.userPreview {
  display: flex;
  flex-direction: column;
}

.userTitle {
  display: inline-block;
}

.userTitle p{
  font-size: 1.3rem;
  background-color: rgb(0, 174, 239, 0.15);
}

.usernameBadge span{
  font-size: 1.3rem;
}

.usernameBadge{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.usernameBadge img{
  width: 1.5rem;
  margin-right: 0.5rem;
  object-fit: contain;
}

.storeContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.badges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.storeBadges{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.storeBadges input{
  width: 4rem;
  padding: 4rem;
  border: 1px solid #929292;
  border-radius: 5px;
}

.storeBadges input:hover{
  opacity: 50%;
}

.storeBadges button{
  background: transparent;
  border: none;
  font-size: 1.3rem;
  margin-top: 1rem;
  color: #929292
}

.storeBadges button:hover {
  cursor: pointer;
}
.storeTitles button{
  background-color: rgb(0, 174, 239, 0.15);
  border: none;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.3rem;
}

.storeTitles button:hover{
  cursor: pointer;
  background-color: rgb(0, 174, 239, 0.05);
}

.titlePreview button{
  background: transparent;
  border: none;
  font-size: 1.3rem;
  color: #929292;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.titlePreview button:hover{
  cursor: pointer;
  background: transparent
}
/* end of StoreScreen*/

/*start of LeaderboardScreen*/
.leaderboard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.leaderboardHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #d2d2d2;
}

.leaderboardHeader p{
  font-size: 1.5rem;
}

.leaderboardHeader button{
  font-size: 1.5rem;
  background: none;
  border: none;
}

.leaderboardHeader button:disabled{
  border: 1px solid #000000;
  color: #000000;
}
.userRank{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #000000;
  margin-bottom: 5rem;
  
}
.userProfile {
  display: flex;
  flex-direction: column;
}

.allRanks{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/*end of LeaderboardScreen*/

/*start of RankAccuracy component*/
.rankSorted{
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
}
/*end of RankAccuracy component*/